name: Close
on: [push]

jobs:
  milestones:
    runs-on: ubuntu-latest
    name: Milestone Closer
    steps:
    - name: Close Milestones
      uses: encreinformatique/github-actions-milestones-close@main
      env:
        GITHUB_TOKEN: ${{ secrets.TOKEN }}
